<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<body>
    <div th:fragment="header" class="navbar">
        <div class="container flex">
            <a th:href="@{/}" class="logo">SiwBooks</a>
            <nav>
                <ul class="nav-list">
                    <li><a th:href="@{/books}">Libri</a></li>
                    <li><a th:href="@{/authors}">Autori</a></li>
                    <li><a th:href="@{/reviews}">Recensioni</a></li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/user/profile}" th:text="'Ciao, ' + ${#authentication.name}"></a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">Login</a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/register}">Registrati</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post" class="logout-form">
                            <button type="submit" class="btn-logout">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
