<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: head"></head>
<body>
<header th:replace="base :: header"></header>

<main class="content">
  <section class="error-page">
    <h2>Si è verificato un errore</h2>
    <p th:text="${message} ?: 'Si è verificato un errore inatteso.'">Errore generico</p>
    <div class="button-group">
      <a th:href="@{/}" class="btn">Torna alla Home</a>
    </div>
  </section>
</main>

<footer th:replace="base :: footer"></footer>
</body>
</html>
